
<div class="sidebar" *ngIf="sidebarStatus">
    <span class="fa fa-bars fs-3 text-light sm-show mt-3" (click)="onHide()"></span>

            <div class="imgcontainer">
            <img src="https://png2.cleanpng.com/sh/8897e96c7244539b3d191cdb321952dc/L0KzQYm3VsI3N6Z8i5H0aYP2gLBuTfF3aaVmip9Ac3X1PbT2jgB2fJZ3Rdtsb372PcT2hwR4aaNqRdZudnXvf8Hskr02amQ3T9VsOXPmQYbtV745P2M8SqkDMEG4Q4G3U8U1OGI9S6g3cH7q/kisspng-avatar-user-computer-icons-software-developer-5b327cc9cc15f7.872727801530035401836.png" class=" profile" alt="">
            </div>
           <br>
            <h6 class="sub-title">Eric Hoffman</h6>
            <div class="hr"></div>
            <div class="navigation">
                <ul>
                    <li class="firstlist"><span class="fa fa-search"></span> <span class="side-item">Discover</span></li>
                    <li><span class="fa fa-tasks"></span> <span class="side-item">Playlist</span></li>
                    <li><span class="fa fa-desktop"></span> <span class="side-item">Movie</span></li>
                    <li><span class="fa fa-television"></span> <span class="side-item">TV Shows</span></li>
                    <li><span class="	fa fa-bars"></span> <span class="side-item">My List</span></li>

                </ul>
            </div>
            <div class="hr2"></div>
            <div class="navigation1">
                <ul>

                    <li><span class="fa fa-clock-o"></span> <span class="side-item">Watch Later</span></li>
                    <li><span class="	fa fa-heart-o"></span> <span class="side-item">Recommended</span></li>

                </ul>
            </div>
            <div class="hr3"></div>

            <div class="navigation2">
                <ul>

                    <li><span class="fa fa-gear"></span> <span class="side-item">Settings</span></li>
                    <li><span class="fa fa-sign-out"></span> <span class="side-item">Log Out</span></li>
                </ul>
            </div>

</div>

<!--Toggle on mobile view-->
<div class="sidebar2">
    <span class="fa fa-bars fs-3 text-light mt-3" (click)="onHide()"></span>
</div>
